<html>

<head>
	<title>Interact</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='images/logo.ico') }}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
</head>

<body background="{{ url_for('static', filename='images/back_2.jpg') }}" style="font-family: 'RocknRoll One', sans-serif;">
	<br><br>
      <div class="container mt-4 py-3" style="background-color: white;border-radius:10px;"><p id="quest" class="top_c" style="font-size: 20px;"></p></div>
      <div class="mic-container">
         <button class="circle top_m"  onclick = "on();" style="outline:none;border: none;" id="on">
            <i class="fa fa-microphone"  style="color:#e709eb;"></i>
         </button>
      </div>
      <br>
      <p id="qn" style="visibility: hidden;">{{qn}}</p>
      <a id="link_next" style="visibility: hidden;" href={{url}} >Check out this cool form!</a>
      <div class="modal show" id="myModal" role="dialog">
         <div class="modal-dialog">
           <div class="modal-content">
           
             <div class="modal-header">
               <h4 class="modal-title p-l-5">Interact Says</h4>
        
              
             </div>
             <div class="modal-body">
               <p>Click ok to proceed</p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal" onclick="read()">ok</button>
             </div>
           </div>
           
         </div>
       </div>
       
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
       <script src="{{ url_for('static', filename='script.js') }}"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   
</body>
</html>